h1{
    position: absolute;
    top: 70px;
    left: 44%;
    color: #fff;
}
h3{
    color: rgba(62, 224.603, 243, 1);
}
#stuff{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    width: fit-content;
    height: fit-content;
}
#left{
    text-align: left;
}
#right{
    text-align: right;
}
#center{
    text-align: center;
}
footer{
    height: 100px;
    width: 100%;
    padding-top: 50px;
    background-color: rgba(3.962, 40.731, 48.23, 1);
    clear: both;
}
footer p{
    text-align: justify;
    color: white;
}